-var full_1 = '11 900р.';

-var sale_1 = '3 000р.';

-var today_1 = '8 900р.';

-var link_1 = 'https://shop.mastervision.su/?r=ordering/cart/as1&id=3085&clean=true&lg=ru';

-var prep_bonus = '800р.'
-var prep_cred = '2 700р.'
-var prep_link = 'https://shop.mastervision.su/?r=ordering/cart/as1&id=3092&clean=true&lg=ru'

section#prices
	.container
		.row
			.col-md-6.col-sm-6
				.packet
					.packet_body
						ul.packet_body_list
							li 12 занятий по 2,5 часа
							li домашние задания
							li скайп-чат
					.packet_footer
						p.cost.cost_full Стоимость:
							span= full_1
						p.cost.cost_sale Скидка:
							span#sale_1= sale_1
						p.cost.cost_today Стоимость сегодня:
							span#today_1= today_1
						a.button.price_button.price_button_1(href= link_1 target="_blank")#link_1 Выбрать
				.prepayment
					h4.prepaymant_title Акция!!!
					p.prepayment_text Платите 1900 рублей, бонусом получаете 
						span#prepayment_bonus= prep_bonus 
						br
						| На счет зачисляется 
						span#prepayment_credited= prep_cred
					a.button.prepayment_button(href= prep_link target="_blank")#prepayment_link Оплатить 1 900р.
			.col-md-6.col-sm-6
				.timer
					h4.timer_title Скидка уменьшится через:
					.clock
					.clock-stop
				h3.general_title.general_title_recs Записи интенсива будут в свободном доступе
					span до старта курса: 8 мая
				p.buy_recs_text Но вы можете приобрести их полные версии за 590р.
				br
				a.button.buy_recs_button(href="https://shop.mastervision.su/?r=ordering/cart/as1&id=3090&clean=true&lg=ru" target="_blank") Купить
				.garants
					h4.garants_title Гарантия возврата
					p.garants_text Если в течение 14 дней Вы поймете, что курс Вам не подходит или по иным причинам решите, что не можете продолжать обучение, мы вернем деньги без вопросов